# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist files
!.gitignore
!.gitconfig
!.tmux.conf
!.zshrc
!install.sh
!README.md

# Whitelist folder
!alacritty/
!nvim/
!i3/
!i3status/
!dunst/
!.emacs.d/

#Blacklist folder
nvim/.netrwhist
nvim/autoload/plugged
nvim/autoload/*
.emacs.d/auto-save-list
.emacs.d/network-security.data
.emacs.d/elpa
.emacs.d/smex-items
