# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist files
!.gitignore
!.gitconfig
!.tmux.conf
!.zshrc
!install.sh
!README.md

# Whitelist folder
!alacritty/
!nvim/
!i3/
nvim/.netrwhist
nvim/autoload/plugged
nvim/autoload/*
