Code/
coc/
google-chrome/
evolution/
dconf/
configstore/
gtk-3.0/
ibus/
gtk-4.0/
pulse/
nvim/autoload
gnome-initial-setup-done
nautilus/search-metadata
nvim/.netrwhist
mimeapps.list
totem/state.ini
user-dirs.dirs
user-dirs.locale
karabiner/automatic_backups/karabiner_20210327.json
karabiner/karabiner.json
libreoffice/
lazygit/

ranger/plugins/ranger_devicons
ranger/plugins/ranger_devicons
